/* app css stylesheet */
.wrapper {
  border: solid dimgrey 1px; padding-right: 0px !important; padding-left: 0px !important;
  margin: 0 auto;
  width:80%
}

.angular-google-map-container {
  position: absolute;
  top: 57px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: solid 1px #654;
}

.css-form input.ng-invalid.ng-touched {
  background-color: red;
}




