# spring profile: prod|dev
profile: dev

# Set the connection to the DB
jdbc:
    drone:
        driver: com.mysql.jdbc.Driver
        url: "jdbc:mysql://localhost:3306/gts"
        username: root
        password: root
        #password: radarteam$#@1

http:
    port: 8888
    adminPort: 9091
    
rss-generation:
    output-dir: /opt/rss
    
server: 
    domain: http://localhost:8080/drone
    url: http://localhost:8888/rss/
    #domain: http://89.221.242.66:8080/drone
    #url: http://89.221.242.66:8888/rss/

track:
    maxActive: 10
